<form (ngSubmit)="submitQuote()" #form="ngForm">
  <div class="form group">
    <label for="sender">sender:</label>
    <input
      id="sender"
      type="text"
      class="forum-control"
      name="sender"
      [(ngModel)]="newQuote.sender"
      #sender="ngModel"
    />
  </div>
  <br />
  <div class="form group">
    <label for="author">Author:</label>
    <input
      id="author"
      type="text"
      class="forum-control"
      name="author"
      [(ngModel)]="newQuote.author"
      #author="ngModel"
    />
  </div>
  <br />
  <div class="form group">
    <label for="author">date:</label>
    <input
      id="date"
      type="date"
      class="forum-control"
      name="date"
      [(ngModel)]="newQuote.ndate"
      #date="ngModel"
    />
  </div>
  <br />
  <div class="comment">
    <label for="comment">Quote:</label>
    <textarea
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
      name="comment"
      [(ngModel)]="newQuote.comment"
      #comment="ngModel"
    ></textarea>
  </div>

  <button class="btn btn-info">Submit</button>
</form>
